{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    <h1>TEST</h1>
    <div class="input-group mb-3">
        <input id="msg" type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="sendBtn">
        <button class="btn btn-outline-secondary" type="button" id="sendBtn">Send</button>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}