{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block message %}

{% endblock %}
{% block content %}
<form action="" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}